<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString1" connectionString="DSN=gloria;UID=root;"
            providerName="System.Data.Odbc" />
        <add name="ConnectionString" connectionString="Dsn=gloria;uid=root;pwd=root"
            providerName="System.Data.Odbc" />
        <add name="ConnectionProyecto" connectionString="Dsn=gloria;uid=root;pwd=root"
            providerName="System.Data.Odbc" />
        <add name="proyectoConnection" connectionString="Dsn=proyecto;uid=root"
            providerName="System.Data.Odbc" />
        <add name="ConnectionString2" connectionString="DSN=proyecto;UID=root;"
            providerName="System.Data.Odbc" />
        <add name="proyectoConnectionString" connectionString="DSN=gloria;SERVER=127.0.0.1;UID=root;DATABASE=proyecto;PORT=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
